<main role="main" class="inner cover text-center">
        <h1 class="cover-heading">ENJOY POSTING!!!</h1>
        <p class="lead">SEND US YOUR PICTURES AND YOUR REVIEWS!!</p>
        <p class="lead">
          <a href="/posts/create" class="btn btn-lg btn-secondary">NEW POST!!</a>
        </p>
</main>